.container {
  padding: 0;
}

.main {
  min-height: 100vh;
  padding: 0;
  background-color: #fffaf7;
}

.first {
  height: 98vh;
  background-image: url("../public/background.svg") !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: border-box;
}

.nav {
  padding: 0.5rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 249, 242, 0.6);
  backdrop-filter: blur(5px) drop-shadow(0 1px 0 rgba(22, 12, 40, 0.15));
}

.icon {
  text-align: center;
}

.header {
  margin-top: 7rem;
  margin-left: 6rem;
  width: 49%;
  color: rgba(66, 55, 85, 0.9);
}
.header h1 {
  font-size: 48px;
  font-weight: 900;
}

.header h2 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 3rem;
}

.second {
  padding: 2rem 5rem;
  text-align: center;
  background-color: #fffaf7;
}

.therapy {
  color: rgba(66, 55, 85, 0.8);
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
}

.second h2 {
  font-weight: 700;
  font-size: 32px;
  color: rgba(66, 55, 85, 0.8);
}
.proccess {
  padding: 1.5rem 0rem;
}

.fourth {
  color: rgba(66, 55, 85, 1);
  padding: 2rem 5rem;
  text-align: center;
  background-color: rgba(205, 224, 223, 1);
  margin: 0;
}
.fourth h2 {
  margin: 0;
}
.talents {
  display: flex;
  gap: 2rem;
}
.text {
  text-align: left;
  font-size: 20px;
  font-weight: 500;
  line-height: 33px;
}
.text * {
  margin-bottom: 1rem;
}

.text button {
  margin-top: 2rem;
}

.fifth {
  margin: 0;
  padding: 0.7rem 5rem;
  text-align: center;
  color: rgba(66, 55, 85, 1);
  background-color: rgba(255, 217, 218, 0.1);
}
.fifth h2 {
  font-size: 32px;
  font-weight: 700;
  margin: 0;
  padding-bottom: 0.5rem;
}
.about {
  display: flex;
  font-weight: 500;
  font-size: 20px;
  text-align: left;
  gap: 4rem;
  line-height: 33px;
}
.sixth {
  text-align: center;
  background-color: rgba(157, 99, 129, 1);
  color: rgba(255, 255, 255, 1);
  padding: 2rem 5rem;
}
.sixth h2 {
  margin: 0;
}
.sixth h3 {
  padding-bottom: 1rem;
  font-size: 24px;
  font-weight: 500;
}

.seventh {
  text-align: center;
  padding-bottom: 2rem;
}

.seventh h2 {
  font-size: 32px;
  font-weight: 700;
  color: rgba(66, 55, 85, 1);
}
.footer {
  text-align: center;
  background-color: rgba(255, 217, 218, 1);
  padding: 1rem 5rem;
}
.swiper {
  display: none;
  width: 50rem;
}

.therapy .talents .header .proccess .about {
  width: 95%;
}
@media (max-width: 420px) {
  #reading_child {
    display: none;
  }
  .first {
    background-position: 30%;
    height: 100%;
  }
  .about {
    flex-direction: column;
    align-items: center;
  }
  .header {
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .header h1 {
    font-size: 28px;
  }
  .main h2 {
    font-size: 22px;
  }
  .main p {
    font-size: 18px;
  }
  .therapy .talents .header .proccess .about {
    width: 100%;
  }
  .sixth {
    padding: 2rem 0;
  }
  .sixth h3 {
    font-size: 18px;
  }

  .swiper {
    display: inherit;
    margin: 2px;
    height: fit-content;
  }
  .seventh {
    padding: 1rem 0 2rem 0;
  }
}
