.container {
  padding: 0;
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.main {
  min-height: 100vh;
  min-height: 100svh;
  padding: 0;
  background-color: #fffaf7;
}

.first {
  height: 98vh;
  background-image: url("../public/background.svg") !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: border-box;
  max-width: 100%;
}

.icon {
  text-align: center;
}

.header {
  position: relative;
  width: 49%;
  color: rgba(66, 55, 85, 0.9);
  left: 10%;
  top: 12%;
}
.header h1 {
  font-size: 3rem;
  font-weight: 900;
}

.header h2 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 2rem;
}

.ellipse_3 {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  position: absolute;
  left: 5rem;
  bottom: 2rem;
  z-index: 0;
  /* top: 479px; */
}
.ellipse_2 {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  position: absolute;
  width: 12rem;
  height: 12rem;
  bottom: 4rem;
}
.ellipse_4 {
  border-radius: 50%;
  position: absolute;
  background-color: rgba(255, 217, 218, 0.2);
  width: 6rem;
  height: 6rem;
  top: 9rem;
  left: 3rem;
}
.ellipse_5 {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background-color: rgba(255, 217, 218, 0.2);
  position: absolute;
  left: 80vw;
}
.ellipse_2,
.ellipse_3,
.ellipse_4,
.ellipse_5 {
  animation: bounce 1s cubic-bezier(0.5, 0.05, 1, 0.5);
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
@keyframes bounce {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(0, 300px, 0);
  }
}

.second {
  padding: 2rem 5rem;
  text-align: center;
  background-color: #fffaf7;
}

.therapy {
  color: rgba(66, 55, 85, 0.8);
  font-weight: 500;
  font-size: 20px;
  line-height: 2rem;
}

.second h2 {
  font-weight: 700;
  font-size: 2rem;
  color: rgba(66, 55, 85, 0.8);
}
.proccess {
  padding: 1.5rem 0rem;
}

.fourth {
  color: rgba(66, 55, 85, 1);
  padding: 2rem 5rem;
  text-align: center;
  background-color: rgba(205, 224, 223, 1);
  margin: 0;
}
.fourth h2 {
  margin: 0;
}
.talents {
  display: flex;
  gap: 2rem;
}
.text {
  text-align: left;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 33px;
}
.text * {
  margin-bottom: 1rem;
}

.text button {
  margin-top: 2rem;
}

.fifth {
  margin: 0;
  padding: 0.7rem 5rem;
  text-align: center;
  color: rgba(66, 55, 85, 1);
  background-color: rgba(255, 217, 218, 0.1);
}
.fifth h2 {
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
  padding-bottom: 0.5rem;
}
.about {
  display: flex;
  font-weight: 500;
  font-size: 20px;
  text-align: left;
  gap: 4rem;
  line-height: 33px;
}
.sixth {
  text-align: center;
  background-color: rgba(157, 99, 129, 1);
  color: rgba(255, 255, 255, 1);
  padding: 2rem 5rem;
}
.sixth h2 {
  margin: 0;
}
.sixth h3 {
  padding-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.seventh {
  text-align: center;
  padding-bottom: 2rem;
}

.seventh h2 {
  font-size: 2rem;
  font-weight: 700;
  color: rgba(66, 55, 85, 1);
}
.footer {
  text-align: center;
  background-color: rgba(255, 217, 218, 1);
  padding: 1rem 5rem;
}
.swiper {
  display: none;

  position: relative;
}

.therapy .talents .header .proccess .about {
  width: 95%;
}
@media (max-width: 420px) {
  .container {
    width: 100vw;
  }
  .container section {
    padding: 0.5rem 0.5rem;
  }
  #reading_child {
    display: none;
    left: 1vw;
  }
  #button_top {
    position: absolute;
    top: calc(75% + 27px);
    left: calc(55% - 179px);
    font-size: 20px;
  }
  .first {
    background-position: 30%;
    height: 100%;
    margin: 0;
    background-position-x: 30%;
    background-position-y: 50%;
    position: relative;
  }

  .about {
    flex-direction: column;
    align-items: center;
  }
  .header {
    width: 70%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 80%;
  }
  .header h1 {
    font-size: 28px;
    margin-top: 1rem;
  }
  .main h2 {
    font-size: 22px;
  }
  .main p {
    font-size: 18px;
  }
  .therapy .talents .header .proccess .about {
    width: 100%;
  }
  .sixth {
    padding: 2rem 0;
  }
  .sixth h3 {
    font-size: 18px;
  }

  .swiper {
    display: inherit;
    margin: 2px 0;
    height: fit-content;
    overflow: hidden;
  }
  .seventh {
    padding: 1rem 0 2rem 0;
  }
}
